@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;

}

h1,h2,h3,h4
{
  font-family: 'Poppins', sans-serif;
}

h1{
  color: var(--heading);
  font-size: 50px;
  font-weight: 600;
}

h2{
  font-weight: 500;
}

h3{
  font-size: 18px;
  font-weight: 400;
}

p{
  font-size: 17px;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}